body {
	background: url("../images/Kept_you_waiting.jpg");
	text-align: center;
	color: #F8F8F8;
	font-size: 32px; 
}

#start {
	margin-top: 170px;
	margin-left: 500px;
	margin-right: 500px;
	border: 2px groove #10295A;
	border-radius: 20px;
	border-width: 15px;
	padding: 10px;
	font-size: 20px;
	color: red; 
}