.nav {
	text-align: center;
	color: white;
	font-size: 24px;
}

body {
	background: url("../images/MGS_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	border: 1px solid grey;
	width: 606px;
	margin: 0 auto;
	margin-top: 50px;
}

.box {
	float: left;
	height: 200px;
	width: 200px;
	border: 1px solid grey;
}
.player1 {
	height: 300px;
	width: 200px;
	left: 1100px;
	border: 1px solid grey;
}

#score1 {
	position: absolute;
	float: left;
	height: 100px;
	width: 80px;
	color: red;
	left: 1100px;
	bottom: 300px;
}

.player2 {
	left: 300px;
	height: 300px;
	width: 200px;
	left: 1000px;
	border: 1px solid grey;
	float: right;
}

#score2 {
	position: absolute;
	height: 100px;
	width: 80px;
	color: red;
	right: 1100px;
	bottom: 300px;

}